<div class="container">
  <div class="row">
    <% if flash[:notice] %>
    <%= flash[:notice] %>
    <% end %>
    <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= @user.errors.count %>件のエラーが発生しました。</h2>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
    <% end %>
    <h2>User info</h2>
    <%= form_for(@user) do |user| %>
      <div>
        <label for="">Name</label>
        <%= user.text_field :name %>
      </div>
      <div>
        <label for="">Image</label>
        <%= user.attachment_field :profile_image %>
      </div>
      <div>
        <label for="">Introduction</label>
        <%= user.text_area :introduction %>
      </div>
      <%= user.submit "Update User" %>
    <% end %>
  </div>

</div>
