<div class="container">
  <div class="row">
    <div class="col-xs-3">
      <% if flash[:notice] %>
      <%= flash[:notice] %>
      <% end %>
      <h2>User info</h2>
      <%= attachment_image_tag @user, :profile_image, fallback: 'no_img.jpg' %>
      <table class="table">
        <tr>
          <th>name</th>
          <td><%= @user.name %></td>
        </tr>
        <tr>
          <th>introduction</th>
          <td><%= @user.introduction %></td>
        </tr>
      </table>
      <% if @user.id == current_user.id %>
        <div class="row">
          <%= link_to "", edit_user_path(@user.id) ,class: "btn btn-default btn-block glyphicon glyphicon-wrench" %>
        </div>
      <% else %>
        <div class="row">
          <%= link_to "", user_path(current_user.id) ,class: "btn btn-default btn-block glyphicon glyphicon-wrench" %>
        </div>
      <% end %>
      <div class="row">
        <%= form_for(@book, url: books_path) do |b| %>
          <h2 class="col-xs-offset-1">New book</h2>
          <div>
            <label for="title">Title</label>
            <%= b.text_field :title, class: "col-xs-12 field" %>
          </div>
          <div>
            <label for="opinion">Opinion</label>
            <%= b.text_area :body, class: "col-xs-12 field" %>
          </div>
          <div>
            <%= b.submit "Create Book", class: "btn btn-primary col-xs-12 field" %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-xs-9">
      <h2>Books</h2>
        <table class="table table-hover table-inverse">
          <tr class="row">
            <th class="col-md-4 text-left"></th>
            <th class="col-md-4 text-left">Title</th>
            <th class="col-md-4 text-left">Opinion</th>
          </tr>
          <% @books.each do |books| %>
            <tr class="row">
              <td class="col-md-4 text-left">
                <%= link_to user_path(books.user_id) do %>
                  <%= attachment_image_tag User.find(books.user_id), :profile_image, fallback: 'no_img.jpg' %>
                <% end %>
              </td>
              <td class="col-md-4 text-left">
                <%= link_to books.title,book_path(books.id) %>
              </td>
              <td class="col-md-4 text-left">
                <%= books.body %>
              </td>
            </tr>
          <% end %>
        </table>
    </div>
  </div>
</div>
