<div class="container">
  <div class="row">
  <h2>Editing Book</h2>
  <%= form_for(@book) do |book| %>
  <div>
    <label for="">Title</label><br>
    <%= book.text_field :title, class: "col-xs-12" %>
  </div>
  <div>
    <label for="">Opinion</label><br>
    <%= book.text_area :body, class: "col-xs-12" %>
  </div>
  <%= book.submit "Update Book", class: "btn btn-primary col-xs-12" %>
  <% end %>
  <div>
    <%= link_to "Show", book_path(@book.id) %> |
    <%= link_to "Back",  :back %>
  </div>
  </div>
</div>
