<%= render 'layouts/list', user: @user, book: @book %>
    <div class="col-xs-9">
      <h2>Book detail</h2>
        <table class="table">
            <tr class="row">
              <td>
                <%= link_to  user_path(@book_detail.user_id) do %>
                  <%= attachment_image_tag @user, :profile_image, fallback: 'no_img.jpg', class: "img-content" %><br>
                  <%= @user.name %>
                <% end %>
              </td>
              <td>
                <%= link_to book_path(params[:id]) do %>
                  <%= @book_detail.title %>
                <% end %>
              </td>
              <td>
                <%= @book_detail.body %>
              </td>
              <td class="col-md-2">
                <%= render "favorites/favorite", book: @book_detail %>
              </td>
              <td class="col-md-2">
                  コメント数: <%= @book_detail.book_comments.count %>
              </td>

              <% if @user.id == current_user.id %>
                <td>
                  <%= link_to "Edit", edit_book_path(@book_detail.id), class: "btn btn-success" %>
                </td>

                <td>
                  <%= link_to "Destroy",  book_path, method: :delete, class: "btn btn-danger", data: {confirm: "本当に削除しますか？"} %>
                </td>
              <% end %>
            </tr>
        </table>

        <div class="table comment_<%= @book_detail.id %>">
            <%= render "book_comments/book_comment", comments: @comments %>
        </div>

        <%= form_with model: @comment, url: book_book_comments_path(@book_detail) do |c| %>
          <%= c.text_area :comment, class: "col-md-6"  %><br>
          <%= c.submit "Create Comment" %>
        <% end %>
    </div>
