<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <% if user_signed_in? %>
    <%= render 'layouts/header_login' %>
  <% else %>
    <%= render 'layouts/header_logout' %>
  <% end %>
  <body>
    <div class="container">
      <div class="row">
        <% if flash[:notice] %>
          <%= flash[:notice] %>
        <% end %>
        <%= yield %>
      </div>
    </div>

    <footer>
      <div class="container">
        <div class="row">
          <p class="col-xs-3 col-xs-offset-9">CopyRight Infratop.inc</p>
        </div>
      </div>
    </footer>
  </body>
</html>
